<!--<h1 mat-dialog-title class="title">Создать новую папку</h1>-->
<!--<div mat-dialog-content>-->
<!--  <mat-form-field style="align-items: center;">-->
<!--    <mat-label>Название папки</mat-label>-->
<!--    <input matInput [(ngModel)]="data.name" class="input">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button [mat-dialog-close]="data.name" class="save">Сохранить</button>-->
<!--  <button mat-button (click)="onNoClick()" class="close">Отменить</button>-->
<!--</div>-->

<div class="container" style="padding-bottom: 20px;">
  <div class="container__top">
    <h2 class="container__top__title">Создать новую папку</h2>
  </div>
  <div class="container__mid">
    <mat-form-field style="width: 100%;">
      <mat-label style="font-size: 14px;line-height: 16px;">Название папки</mat-label>
      <input
        matInput
        [(ngModel)]="data.name"
        class="container__mid__input"
      >
    </mat-form-field>
  </div>
  <div class="container__buttons" mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.name" class="container__buttons__button">Сохранить</button>
    <button mat-button (click)="onNoClick()" class="container__buttons__button">Отменить</button>
  </div>
</div>
