<div class="container">
  <div class="container__left">
    <div class="container__left__content">
      <div
        *ngFor="let folder of dataFolderAPI; index as i"
        class="container__left__content__block"
        (click)="getFolderIdx(i)"
      >
        <img class="container__left__content__block__img" src="assets/icons/main/folder.svg">
        {{folder.name}}
      </div>
    </div>
    <div class="container__left__buttons">
      <button
        mat-raised-button
        (click)="createFolder()"
        class="container__left__buttons__button"
      >
        Создать папку
      </button>
      <button mat-raised-button (click)="createFile()" class="container__left__buttons__button">
        Добавить файл
      </button>
    </div>
  </div>

  <div class="container__right">
    <mat-form-field class="container__right__form" *ngIf="dataFolderAPI?.length">
      <input matInput class="container__right__form__input" type="text" [(ngModel)]="dataFolderAPI[idx].name">
      <button
        mat-button
        class="container__right__form__button"
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value=''"
      >
        <mat-icon class="container__right__form__button__icon">close</mat-icon>
      </button>
    </mat-form-field>
    <div class="container__right__block">
      <table class="container__right__block__table">
        <tr class="container__right__block__table__title" *ngFor="let file of dataFileAPI; index as i">
          <div class="container__right__block__table__title__column">
            <th class="container__right__block__table__title__column__name" >Название</th>
            <td class="container__right__block__table__title__column__rowName">{{file.name}}</td>
          </div>
          <div class="container__right__block__table__title__column">
            <th class="container__right__block__table__title__column__createdBy">От кого</th>
            <td class="container__right__block__table__title__column__rowCreatedBy">{{file.createdBy}}</td>
          </div>
          <div class="container__right__block__table__title__column">
            <th class="container__right__block__table__title__column__createdOn">Дата</th>
            <td class="container__right__block__table__title__column__rowCreatedOn">{{file.createdOn | date}}</td>
          </div>
          <div class="container__right__block__table__title__column">
            <th class="container__right__block__table__title__column__type">Тип</th>
            <td class="container__right__block__table__title__column__rowType">{{file.fileType}}</td>
          </div>
        </tr>
      </table>
    </div>
  </div>
</div>
