.container {
  width: 1120px;
  height: 670px;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    width: 280px;
    height: 670px;
    justify-content: space-between;
    flex-direction: column;

    &__content {
      display: flex;
      height: 620px;
      background: #FFFFFF;
      box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
      flex-direction: column;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #FFFFFF;
      }

      &::-webkit-scrollbar-thumb {
        background: #6C899E;
        border-radius: 2px;
      }

      &__block {
        display: flex;
        width: 250px;
        height: 50px;
        justify-content: flex-start;
        align-items: center;
        margin: 8px 15px;
        background: #FFFFFF;
        border-radius: 3px;
        cursor: pointer;
        color: #02344f;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;

        &__img {
          display: flex;
          margin: 0 10px;
        }

        &:hover {
          background: #e0e0e0;
        }

        &:active {
          background: #e0e0e0;
        }

      }

    }

    &__buttons {
      height: 38px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__button {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 15px;
        color: #02344f;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 135px;
        background: #FFFFFF;
        border: 0.5px solid #E0E0E0;
        box-sizing: border-box;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        cursor: pointer;
        padding: 0;
      }
    }
  }

  &__right {
    display: flex;
    width: 784px;
    background: #FFFFFF;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    padding: 18px;

    &__form {
      display: flex;
      width: 100%;
      height: 55px;
      justify-content: space-between;
      align-items: flex-start;

      &__block {
        display: flex;
        border-bottom: 1px solid #000000;

        &__input {
          display: flex;
          width: 450px;
          height: 30px;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          color: #02344f;


          &__button {
            display: flex;
            background: #FFFFFF;
            border: none;
            align-items: center;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &__icon {
              display: flex;
            }
          }
        }
      }

      &__delete {
        display: flex;
        width: 175px;
        height: 35px;
        justify-content: center;
        align-items: center;
        background: #EB5757;
        color: #FFFFFF;
        border: 0.3px solid #E0E0E0;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 3px;

      }
    }

    &__block {
      display: flex;

      &__table {
        display: flex;

        &__title {
          display: flex;
          font-size: 14px;
          line-height: 16px;

          &__column {
            display: flex;
            flex-direction: column;
            color: #02344f;
            font-weight: 400;
            border-bottom: 1px solid rgba(196, 196, 196, 0.61);
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.2px;

            &__rowName {
              display: flex;
              padding-left: 40px;
              height: 40px;
              align-items: center;
            }

            &__rowCreatedBy {
              display: flex;
              height: 40px;
              align-items: center;
            }

            &__rowCreatedOn {
              display: flex;
              height: 40px;
              align-items: center;
            }

            &__rowType {
              display: flex;
              height: 40px;
              align-items: center;
            }

            &__name {
              display: flex;
              width: 305px;
              height: 34px;
              padding-left: 40px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              margin-right: 5px;
              font-weight: 400;
            }

            &__createdBy {
              display: flex;
              width: 125px;
              height: 34px;
              font-size: 14px;
              line-height: 16px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              margin-right: 5px;
              font-weight: 400;
              padding-left: 8px;
            }

            &__createdOn {
              display: flex;
              width: 125px;
              height: 34px;
              font-size: 14px;
              line-height: 16px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              margin-right: 5px;
              font-weight: 400;
              padding-left: 8px;
            }

            &__type {
              display: flex;
              width: 150px;
              height: 34px;
              font-size: 14px;
              line-height: 16px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              font-weight: 400;
              padding-left: 8px;
            }
          }
        }
      }
      &__empty {
        display: flex;

        &__title {
          display: flex;
          font-size: 14px;
          line-height: 16px;

          &__column {
            display: flex;
            flex-direction: column;
            color: #495057;
            font-weight: 400;
            border-bottom: 1px solid rgba(196, 196, 196, 0.61);
            font-size: 11px;
            line-height: 14px;
            letter-spacing: 0.2px;

            &__rowName {
              display: flex;
              height: 40px;
              align-items: center;
            }

            &__rowCreatedBy {
              display: flex;
              justify-content: flex-start;
              height: 40px;
              align-items: center;
            }

            &__rowCreatedOn {
              display: flex;
              height: 40px;
              align-items: center;
            }

            &__rowType {
              display: flex;
              height: 40px;
              align-items: center;
            }

            &__name {
              display: flex;
              width: 305px;
              height: 34px;
              padding-left: 40px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              margin-right: 5px;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
            }

            &__createdBy {
              display: flex;
              width: 125px;
              height: 34px;
              font-size: 14px;
              line-height: 16px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              margin-right: 5px;
              font-weight: 400;
              padding-left: 8px;
            }

            &__createdOn {
              display: flex;
              width: 125px;
              height: 34px;
              font-size: 14px;
              line-height: 16px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              margin-right: 5px;
              font-weight: 400;
              padding-left: 8px;
            }

            &__type {
              display: flex;
              width: 145px;
              height: 34px;
              font-size: 14px;
              line-height: 16px;
              color: #02344f;
              background: rgba(171, 223, 236, 0.2);
              align-items: center;
              font-weight: 400;
              padding-left: 8px;
            }
          }
        }
      }
    }
  }
}
