<div class="container">
  <div class="container__block">
    <h4 class="container__block__title">
      Быстрые ссылки
    </h4>
    <div class="container__block__content">
      <ng-container class="container__block__content__links">
        <div *ngFor="let i of main.dataLinkAPI" class="container__block__content__links__link">
          <a href="{{i.url}}" target="_blank" class="container__block__content__links__link__circle">
            <img src="assets/icons/main/link.svg" class="container__block__content__links__link__circle__img">
          </a>
          {{i.name}}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="container__buttons">
    <button mat-raised-button (click)="createLink()" class="container__buttons__button">
      Добавить ссылку
    </button>
  </div>
</div>
