<div class="container">
  <div class="container__content">
    <img src="./assets/icons/login/a-title.svg" alt="A-title">
    <div class="container__content__icons">
      <img class="container__content__icon" src="./assets/icons/login/a.svg" alt="A">
      <img class="container__content__icon" src="./assets/icons/login/n.svg" alt="N">
      <img class="container__content__icon" src="./assets/icons/login/t.svg" alt="T">
      <img class="container__content__icon" src="./assets/icons/login/i.svg" alt="I">
      <img class="container__content__icon" src="./assets/icons/login/k.svg" alt="K">
      <img class="container__content__icon" src="./assets/icons/login/o.svg" alt="O">
      <img class="container__content__icon" src="./assets/icons/login/r.svg" alt="R">
    </div>
    <div class="container__content__block">
      <form
        class="container__content__block"
        [formGroup]="form"
      >
        <input
          type="text" class="container__content__block__input"
          placeholder="Введите логин"
          formControlName="username"
        >
        <input
          type="password" class="container__content__block__input"
          placeholder="Введите пароль"
          formControlName="password"
        >
      </form>
      <button
        type="submit"
        class="container__content__block__button"
        [disabled]="form.invalid"
        (click)="login()"
      >
        Войти
      </button>
    </div>
  </div>
</div>
