.container {
  height: 969px;
  background: #E9EAEC;
  display: flex;
  flex-direction: row;

  &__left {
    display: flex;
    width: 300px;
    height: 100%;
    background: #02344F;
    flex-direction: column;
    align-items: center;
    &__corporation {
      display: flex;
      width: 250px;
      height: 60px;
      justify-content: space-around;
      align-items: center;
    }
    &__profile {
      display: flex;
      width: 100%;
      height: 80px;
      border: solid 1px #ABDFEC;
      &__image {
        margin: 0 18px 0 21px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        &__icon {
          width: 57px;
          height: 57px;
        }
      }
      &__name {
        display: flex;
        width: 100%;
        font-family: 'Mulish', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.2px;
        color: #ABDFEC;
        align-items: center;
      }
    }
    &__nav {
      display: flex;

      &__navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 15px;
        padding: 0;

        &__active {
          background-color: #abdfec;
          color: #02344f;
          border-radius: 3px;
          .container__left__nav__navigation__menu__name {
            color: #02344f;
          }
          .container__left__nav__navigation__menu__icon {
            color: #02344f;
          }
        }

        &__menu {
          display: flex;
          width: 268px;
          height: 50px;
          margin: 5px 10px;
          text-decoration: none;
          cursor: pointer;

          &__icon {
            margin: 0 15px;
            display: flex;
            align-items: center;
            font-size: 3rem;
            color: #ABDFEC;
          }

          &__name {
            width: 100%;
            height: auto;
            align-items: center;
            display: flex;
            font-family: 'Mulish', sans-serif;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.2px;
            color: #ABDFEC;
            text-decoration: none;
            border-radius: 3px;
            &:first-child {
              color: #02344f;
            }
          }


          &:hover {
            background-color: #abdfec;
            color: #02344f;
            border-radius: 3px;
          }

          &:hover &__icon {
            background-color: #abdfec;
            color: #02344f;
          }

          &:hover &__name {
            background-color: #abdfec;
            color: #02344f;
          }
        }

      }
    }
  }
  &__right {
    display: flex;
    width: 100%;
    flex-direction: column;
    &__top-title {
      display: flex;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 40px;
      line-height: 130%;
      color: #02344F;
      background-color: #ffffff;
      padding: 4px 0 4px 20px;
    }
    &__block {
      display: flex;
      flex-direction: row;
      &__events {
        display: flex;
        width: 100%;
        &__calendar {
          display: flex;
          width: 100%;
          height: 290px;
          margin-top: 20px;
          margin-right: 20px;
          background: #FFFFFF;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }
  }
}
