<div class="container">
  <div class="container__left">
    <div class="container__left__corporation">
      <img src="./assets/icons/main/a-title.svg" alt="A-title" style="margin-right: 10px">
      <img src="./assets/icons/main/a.svg" alt="A">
      <img src="./assets/icons/main/n.svg" alt="N">
      <img src="./assets/icons/main/t.svg" alt="T">
      <img src="./assets/icons/main/i.svg" alt="I">
      <img src="./assets/icons/main/k.svg" alt="K">
      <img src="./assets/icons/main/o.svg" alt="O">
      <img src="./assets/icons/main/r.svg" alt="R">
    </div>
    <div class="container__left__profile">
      <div class="container__left__profile__image">
        <img class="container__left__profile__image__icon" src="./assets/icons/main/profile.png" alt="profile">
      </div>
      <div class="container__left__profile__name">
        Ашимов Руслан
      </div>
    </div>
    <div class="container__left__navigation">
      <div class="container__left__navigation__menu">
        <div class="container__left__navigation__menu__icon">
          <img class="svg container__left__navigation__menu__icon__title" src="./assets/icons/main/a-title-menu.svg" alt="A-title">
        </div>
        <div class="container__left__navigation__menu__name">
          Главная
        </div>
      </div>
      <div class="container__left__navigation__menu">
        <div class="container__left__navigation__menu__icon">
          <img src="./assets/icons/main/date-menu.svg" alt="date">
        </div>
        <div class="container__left__navigation__menu__name">
          Календарь совещаний
        </div>
      </div>
      <div class="container__left__navigation__menu">
        <div class="container__left__navigation__menu__icon">
          <img src="./assets/icons/main/mailbox-menu.svg" alt="mail">
        </div>
        <div class="container__left__navigation__menu__name" style="font-size: 16px; line-height: 20px">
          Почта
        </div>
      </div>
    </div>
  </div>
</div>
