<div class="container">
  <div class="container__left">
    <div class="container__left__corporation">
      <img src="./assets/icons/main/a-title.svg" alt="A-title" style="margin-right: 10px">
      <img src="./assets/icons/main/a.svg" alt="A">
      <img src="./assets/icons/main/n.svg" alt="N">
      <img src="./assets/icons/main/t.svg" alt="T">
      <img src="./assets/icons/main/i.svg" alt="I">
      <img src="./assets/icons/main/k.svg" alt="K">
      <img src="./assets/icons/main/o.svg" alt="O">
      <img src="./assets/icons/main/r.svg" alt="R">
    </div>
    <div class="container__left__profile">
      <div class="container__left__profile__image">
        <img class="container__left__profile__image__icon" src="./assets/icons/main/profile.png" alt="profile">
      </div>
      <div class="container__left__profile__name">
        Ашимов Руслан
      </div>
    </div>
    <nav class="container__left__nav">
      <ul class="container__left__nav__navigation">
        <li
          class="container__left__nav__navigation__menu"
          routerLinkActive="container__left__nav__navigation__active"
        >
          <img class="container__left__nav__navigation__menu__icon" src="./assets/icons/main/a-title-menu.svg"
               alt="A-title">
          <a
            class="container__left__nav__navigation__menu__name"
            [routerLink]="'content'"
            style="color: #02344f;"
          >
            Главная
          </a>
        </li>
        <li class="container__left__nav__navigation__menu">
          <img class="container__left__nav__navigation__menu__icon" src="./assets/icons/main/date-menu.svg" alt="date">
          <a
            class="container__left__nav__navigation__menu__name"
          >
            Календарь совещаний
          </a>
        </li>
        <li class="container__left__nav__navigation__menu">
          <img class="container__left__nav__navigation__menu__icon" src="./assets/icons/main/mailbox-menu.svg"
               alt="mailbox">
          <a
            class="container__left__nav__navigation__menu__name"
            style="font-size: 16px; line-height: 20px"
          >
            Почта
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container__right">
    <header class="container__right__top-title">
      Главная
    </header>
    <div class="container__right__block">
      <router-outlet></router-outlet>
      <div class="container__right__block__events">
        <div class="container__right__block__events__calendar"></div>
      </div>
    </div>
  </div>
</div>
