<div class="container">
  <div class="container__left">
    <div class="container__left__content">
      <div
        *ngFor="let folder of dataFolderAPI; index as i"
        class="container__left__content__block"
        (click)="getFolderIdx(i)"
      >
        <img class="container__left__content__block__img" src="assets/icons/main/folder.svg">
        {{folder.name}}
      </div>
    </div>
    <div class="container__left__buttons">
      <button
        mat-raised-button
        (click)="createFolder()"
        class="container__left__buttons__button"
      >
        Создать папку
      </button>
      <button mat-raised-button (click)="createFile()" class="container__left__buttons__button">
        Добавить файл
      </button>
    </div>
  </div>

  <div class="container__right">
    <div class="container__right__form" *ngIf="dataFolderAPI?.length">
      <div class="container__right__form__block">
        <input matInput class="container__right__form__block__input" type="text" [(ngModel)]="dataFolderAPI[idx].name">
        <button class="container__right__form__block__input__button">
          <img class="container__right__form__input__button__icon" src="assets/icons/main/rename.svg" alt="pencil">
        </button>
      </div>
      <button class="container__right__form__delete">
        Удалить альбом
      </button>
    </div>
    <div class="container__right__block">

    </div>
  </div>
</div>
