<div class="container">
  <div class="container__left">
    <div class="container__left__content">
      <ng-container class="container__left__content__folders">
        <div *ngFor="let i of content.dataCameraAPI" class="container__left__content__folders__block">
          <img class="container__left__content__folders__block__img" src="assets/icons/main/folder.svg">
          {{i.name}}
        </div>
      </ng-container>
    </div>
    <div class="container__left__buttons">
      <button mat-raised-button (click)="createFolder()" class="container__left__buttons__button">
        Создать папку
      </button>
      <button mat-raised-button (click)="createFile()" class="container__left__buttons__button">
        Добавить файл
      </button>
    </div>
  </div>

  <div class="container__right">

  </div>
</div>
